:root {
  --color-primary: #f9e000;
  --color-secondary: #3b1c1c;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer utilities {

} */

@layer base {

  html, body {
      height: 100%;
  }
  h5, h4, h3, h2, h1 {
      font-family: 'Lato', 'sans-serif';
  }
  p, a, li, span, label, input {
      font-family: 'Source Sans Pro', 'sans-serif';
  }
}

@layer components {

  .chat_bubble {
      display:flex;
      flex-direction:column;
      flex-wrap:wrap;
      padding: 4px;
      border-radius: 5px;
      margin: 5px;
      position:relative;
  }
  .incoming {
    float:left;
    /* text-align:left; */
    left:0;
    margin-right: 18px;
    color:white;
    background-color:#3B2A50;
  }
  .outgoing {
    float:right;
    /* text-align:right; */
    right:0; 
    margin-left: 4px;
    color:white;
    background-color:blue;
  }
}

#channels label {
  float:left;
  cursor: pointer;
}

#channels label span {
  display:block;
}

#channels label input {
  position:absolute;
  display: none;
}

#channels input:checked + span {
  background-color:#404040;
  color:#F7F7F7;
}
