:root {
  /* --color-primary: #f9e000; */
  --color-primary: #fef200;
  --color-secondary: #3b1c1c;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb:hover{
  background: rgba(0,0,0,0.4);
}

::-webkit-scrollbar-thumb:active{
  background: rgba(0,0,0,.9);
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Pacifico&display=swap&family=Paytone+One&display=swap&family=Source+Sans+Pro:ital,wght@0,400;0,600;0,700;0,900;1,400;1,600;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .hide {
    transform: scale(0);
    -webkit-animation: fadeOut .5s;
    animation: fadeOut .5s;
}

  .show {
    -webkit-animation: fadeIn 1s;
    animation: fadeIn .5s;
  }

@-webkit-keyframes fadeIn {
from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fadeOut {
from { opacity: 1; }
    to { opacity: 0; }
}
@keyframes fadeOut {
from { opacity: 1; }
    to { opacity: 0; }
}

}

@layer base {

  html, body {
      height: 100%;
      color:black;
      scroll-behavior:smooth;
      cursor:pointer;
  }
  h5, h4, h3, h2, h1 {
      font-family: 'Lato', 'sans-serif';
  }
  p, a, li, span, label, input {
      font-family: 'Source Sans Pro', 'sans-serif';
  }
}

@layer components {

    
  .text-shadow{
    text-shadow: 0px 4px 3px rgba(0,0,0,0.6),
             0px 8px 13px rgba(0,0,0,0.2),
             0px 18px 23px rgba(0,0,0,0.2);
  }
  .chat_bubble {
      display:flex;
      text-align:justify;
      padding: 8px;
      border-radius: 5px;
      margin: 5px;
      position:relative;
  }
  .incoming {
    font-family: 'Poppins', sans-serif;
    float:left;
    margin-right: 18px;
    color:#3b1c1c;
    background-color:#FCD34D;
    
  }
  .outgoing {
    font-family: 'Poppins', sans-serif;
    float:left;
    margin-left: 4px;
    color:#FCD34D;
    background-color:#3b1c1c;
  }
}

.channels label {
  float:left;
  cursor: pointer;
}

.channels label span {
  display:block;
}

.channels label input {
  position:absolute;
  display: none;
}

.channels input:checked + span {
  background-color:#FCD34D;
  color:#3b1c1c;
}

svg{
  height: 1rem;
}
